.next
.github
.prettierrc.json
.prettierignore
yarn.lock
package.json
package-lock.json
README.md
cypress.config.ts
src/graphql/generated/*

# TODO: Remove later
components/Login.tsx
config/web3auth.ts