/* GINTO */
@font-face {
  font-family: 'Ginto';
  src: url('/fonts/Ginto-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto';
  src: url('/fonts/Ginto-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto';
  src: url('/fonts/Ginto-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto';
  src: url('/fonts/Ginto-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

/* GINTO NORD */
@font-face {
  font-family: 'GintoNord';
  src: url('/fonts/Ginto-Nord-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'GintoNord';
  src: url('/fonts/Ginto-Nord-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

/* INTER */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Semibold.woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
